* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	overflow-x: hidden;
}

a {
	display: block;
	text-decoration: none;
	outline: none;
	transition: all ease 0.3s;
}

.container {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

/* Header */

header {
	padding-top: 4px;
	padding-bottom: 15px;
	background: #353436;
	position: relative;
	z-index: 10;
}

.header__top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.header__modal-link {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	padding-right: 18px;
	background: url(../img/lock-icon.png) right center no-repeat;
}

.header__modal-link:hover {
	opacity: 0.7;
}

.header__logo {
	display: block;
	width: 283px;
}

.header__logo img {
	display: block;
	width: 100%;
}

.header__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	align-items: flex-end;
	flex-wrap: wrap;
	justify-content: space-between;
}

.nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.nav__item {
	position: relative;
	padding-left: 12px;
	padding-right: 12px;
}

.nav__item:last-child {
	padding-right: 0;
}

.nav__link {
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
}

.nav__link:hover {
	color: #e2d1a6;
}

.nav__link.nav__link_active {
	color: #e2d1a6;
	font-weight: 700;
}

.nav__submenu {
	position: absolute;
	left: 0;
	top: 100%;
	background: #353436;
	padding: 20px 5px 10px 5px;
	display: none;
}

.nav__item:hover .nav__submenu {
	display: block;
}

.nav__submenu a {
	padding: 4px 7px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	border-bottom: 1px solid #fff;
}

.nav__submenu a:hover {
	color: #e2d1a6;
}

.navbar-tog {
	display: none;
}

/* Главный экран */

.main {
	position: relative;
}

.main__slide {
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	outline: none;
	padding-top: 250px;
	padding-bottom: 280px;
}

.main__content {
	width: 510px;
	margin-left: auto;
	padding: 15px 25px;
	background: rgba(255, 255, 255, 0.85);
}

.main__title {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-style: italic;
	margin-bottom: 15px;
	color: #020202;
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 0;
}

.main__text {
	color: #000;
	font-size: 18px;
	line-height: 24px;
}

.main__dots {
	position: absolute;
	bottom: 40px;
	left: 0;
	width: 100%;
}

.main__dots ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.main__dots ul li {
	display: block;
	list-style: none;
	margin-left: 4px;
	margin-right: 4px;
}

.main__dots ul li button {
	display: block;
	cursor: pointer;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	border: 1px solid #000;
	background: #fff;
	font-size: 0;
	color: transparent;
	transition: all ease 0.3s;
}

.main__dots ul li.slick-active button {
	background: #e2d1a6;
}

/* Блок с информацией */

.info {
	position: absolute;
	z-index: 15;
	bottom: 0;
	width: 100%;
	left: 0;
}

.info__open {
	position: absolute;
	width: 80px;
	height: 28px;
	background-image: url(../img/link-arrow.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #fff;
	left: 50%;
	margin-left: -40px;
	top: -28px;
	transition: all ease 0s;
}

.info__open.opened {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.info__content {
	display: none;
}

.info__items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
}

.info__item {
	width: 33%;
	padding: 12px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: flex-end;
	align-items: stretch;
	flex-wrap: wrap;
}

.info__item_beige {
	background: #e2d1a6;
}

.info__item_white {
	background: #fff;
}

.info__item_black {
	background: #000;
}

.info__title {
	margin: 0;
	color: #000000;
	font-size: 28px;
	line-height: 30px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	margin-bottom: 5px;
	width: 100%;
}

.info__item_black .info__title {
	color: #fff;
}

.info__text {
	color: #000;
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 10px;
	width: 100%;
}

.info__item_black .info__text {
	color: #fff;
}

.info__link {
	color: #fff;
	font-size: 18px;
}

.info__item_white .info__link {
	color: #000;
}

.info__link:hover {
	text-decoration: underline;
}


/* Footer */

footer {
	padding-top: 30px;
	padding-bottom: 15px;
	background: #353436;
}

.footer__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 955px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.footer__item {
	width: 220px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
}

.footer__title {
	color: #fff;
	margin: 0;
	margin-bottom: 20px;
	font-size: 14px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	text-transform: uppercase;
}

.footer__text {
	color: #fff;
	font-size: 12px;
	line-height: 17px;
	font-weight: 300;
}

.input {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	border: none;
	background: #fff;
	height: 32px;
	padding-left: 5px;
	padding-right: 5px;
	color: #000;
	font-size: 14px;
	font-weight: 300;
}

.input::-webkit-input-placeholder {color:#8c8c8c;}
.input::-moz-placeholder {color:#8c8c8c;}/* Firefox 19+ */
.input:-moz-placeholder {color:#8c8c8c;}/* Firefox 18- */
.input:-ms-input-placeholder {color:#8c8c8c;}

.form__check {
	position: relative;
	margin-bottom: 7px;
}

.form__check input {
	position: absolute;
	top: 50%;
	left: -1000000px;
}

.form__check label {
	cursor: pointer;
	position: relative;
	color: #b5b4b4;
	font-size: 10px;
	padding-left: 16px;
	line-height: 14px;
	display: block;
}

.form__check label:before {
	position: absolute;
	display: block;
	content: "";
	width: 8px;
	height: 8px;
	left: 0;
	top: 3px;
	background: #fff;
	box-sizing: border-box;
	border: 2px solid #fff;
}

.form__check input:checked + label:before {
	background: #353436;
}

.btn {
	display: block;
	width: 100%;
	cursor: pointer;
	transition: all ease 0.3s;
	color: #fff;
	border: none;
	outline: none;
	font-size: 17px;
	line-height: 28px;
	text-transform: uppercase;
	background: #000000;
	border: 2px solid #000;
}

.btn:hover {
	background: transparent;
}

.footer__bottom {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.footer__info {
	padding-left: 15px;
	padding-right: 15px;
}

.footer__info span {
	display: inline-block;
	color: #fff;
	font-size: 12px;
	margin-right: 12px;
}

.footer__socials {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	padding-left: 15px;
	padding-right: 15px;
}

.footer__social-link {
	margin-left: 5px;
	margin-right: 5px;
}

.footer__social-link:hover {
	opacity: 0.7;
}

.footer__social-link img {
	display: block;
	max-width: 19px;
}

.footer__language {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	padding-left: 15px;
	padding-right: 15px;
}

.footer__language a {
	padding-left: 8px;
	padding-right: 8px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	border-right: 1px solid #fff;
}

.footer__language a:last-child {
	border: none;
}

.footer__language a:hover {
	color: #e2d1a6;
}

/* Модальное окно */

.modal {
	position: fixed;
	z-index: 300;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: none;
}

.modal__block {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: center;
	align-items: center;
	align-content: center;
}

.modal__blackout {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background: rgba(255, 255, 255, 0.6);	
}

.modal__content {
	position: relative;
	z-index: 2;
	background: #353436;
	padding: 10px 75px;
	width: 595px;
	max-height: 95vh;
	overflow-y: auto;
}

.modal__close {
	display: block;
	cursor: pointer;
	position: absolute;
	width: 22px;
	height: 22px;
	top: 10px;
	right: 15px;
	border: none;
	outline: none;
	background: transparent;
}

.modal__close:before {
	position: absolute;
	display: block;
	content: "";
	height: 2px;
	width: 31px;
	background: #fff;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 10px;
	left: -4px;
}

.modal__close:after {
	position: absolute;
	display: block;
	content: "";
	height: 2px;
	width: 31px;
	background: #fff;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 10px;
	left: -4px;
}

.modal__title {
	text-align: center;
	color: #fff;
	margin-bottom: 15px;
	font-size: 23px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	text-transform: uppercase;
}

.modal__cols {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.modal__col {
	width: 185px;
	padding-bottom: 15px;
}

.modal__subtitle {
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

.modal__signature {
	padding-top: 7px;
	color: #b5b4b4;
	font-size: 12px;
}